################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Whack-a-Mole
/Assets/TextMesh Pro
/Library
/obj/Debug
/Logs
/ProjectSettings
